BasedOnStyle: Google
Language: Cpp
ColumnLimit: 128
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
SpaceBeforeParens: ControlStatements
AlignAfterOpenBracket: DontAlign
AlwaysBreakTemplateDeclarations: true
AllowShortCaseLabelsOnASingleLine: true